<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-52 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 ">
        <p class="text-[#FF7F50]">Herramientas</p>
       <section class="grid grid-cols-5 gap-2 p-2">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
            <img src="https://cdn-icons-png.freepik.com/512/104/104668.png" alt="lapoiz">
       </section>
       <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 ">
        <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
               <span class="ms-3">Añadir colaborador</span>
            </a>
         </li>
        <p class="text-[#FF7F50]">Tus colaboradores</p>
            <p href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100">
                <img class="h-7 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="perfil"> <span class="ms-3 text-[#32CD32]">Juan Orejuela</span>
            </p>
            <p href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100">
                <img class="h-7 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="perfil"> <span class="ms-3 text-[#32CD32]">Carlos Peña</span>
            </p>
            <p href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100">
                <img class="h-7 rounded-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="perfil"> <span class="ms-3 text-[#32CD32]">Andres Narvaez</span>
            </p>
       </ul>
    </div>
 </aside>

 <div class="h-screen w-full pl-52">
    <app-draw-area />
 </div>
